<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PollApp</title>
</head>
<body>
    <h1>Polls to vote</h1>
    {% if latest_question_list %}
    <ul style="list-style: none;">
    {% for question in latest_question_list %}
        <li><a href="{% url 'pollapp:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

    <form action='/logout' method='GET'>
        <button type='submit'>logout</button>
    </form>
</body>
</html>